@use "sass:math";

@import '../tools/tools.index';
@import '../settings/settings.index';

.o-container {
    padding-left: percentage(math.div(3, 24));
    padding-right: percentage(math.div(3, 24));

    @include mq(md) {
        padding-left: percentage(math.div(1, 24));
        padding-right: percentage(math.div(1, 24));
    }
}
