@import '../tools/tools.index';
@import '../settings/settings.index';

.c-footer-menu {
    display: flex;
    flex-direction: column;
    @include fontSize('b1');

    &__item {

        a {
            display: inline-block;
            @include fluidValue("padding-top", "s-5");
            @include fluidValue("padding-bottom", "s-5");
            transition: $t-default;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
