@use "sass:math";

@import '../tools/tools.index';
@import '../settings/settings.index';

.o-header {

}

.c-header {
    background-color: $primary-color;
    color: $white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
        @include fluidValue('padding-top', 's-96');
        @include fluidValue('padding-bottom', 's-96');
        padding-left: percentage(math.div(3, 24));
        padding-right: percentage(math.div(3, 24));

        @include mq(md) {
            padding-top: 120px;
            padding-left: percentage(math.div(1, 24));
            padding-right: percentage(math.div(1, 24));
        }

        h1 {
            max-width: 780px;
            @include fluidValue('padding-bottom', 's-20');
        }

        p {
            max-width: 420px;
        }
    }

    &--light {

    }

    &--light {
        background-color: $light-grey;
        color: $primary-color;
    }

    &--accent {
    }
}
