@import '../tools/tools.index';
@import '../settings/settings.index';

.c-logo {
    &__logo {
        transition: $t-default;

        svg {
            display: block;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
