@import '../tools/tools.index';
@import '../settings/settings.index';

.c-menu {
    display: flex;
    align-items: center;
    @include fontSize('b1');
    color: $white;

    &__item {
        margin: 0 10px;

        &:last-child {
            margin-right: 0;

            a {
                padding-right: 0;
            }
        }

        a {
            display: inline-block;
            @include fluidValue("padding", "s-8");
            transition: $t-default;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
