@use "sass:math";

@import '../tools/tools.index';
@import '../settings/settings.index';

.c-mobile-navigation {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  background-color: $primary-color;
  z-index: getZindex("navigation", -1);
  padding: 120px percentage(math.div(1, 24)) 20px percentage(math.div(1, 24));
  transition: $t-default;

  &--opened {
    transform: translateX(-100%);
  }
}

//HAMBURGER
.c-hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 34px;
  padding: 10px 15px;
  cursor: pointer;
  pointer-events: all;
  margin-right: -15px;
  position: fixed;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: getZindex("navigation", 2);
  mix-blend-mode: difference;

  @include mq(sm-md) {
    display: flex;
    right: percentage(math.div(1, 24));
    top: 10px;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: $white;
    transition: all 0.15s $ease-in-out-circ;
    border-radius: 100px;
  }

  //states
  &--opened {
    .c-hamburger__line--top {
      transform: rotateZ(45deg) translate(5px, 4px) scaleX(0.8);
    }

    .c-hamburger__line--center-a,
    .c-hamburger__line--center-b {
      opacity: 0;
      transform: scaleX(0);
    }

    .c-hamburger__line--bottom {
      transform: rotateZ(-45deg) translate(4px, -4px) scaleX(0.8);
    }
  }
}
