@import '../tools/tools.index';
@import '../settings/settings.index';

.o-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: getZindex("navigation");
}

.c-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fluidValue("padding-top", "s-30");
    @include fluidValue("padding-bottom", "s-30");
    padding-left: percentage(1/24);
    padding-right: percentage(1/24);
}
