@use "sass:math";

@import '../tools/tools.index';
@import '../settings/settings.index';

.c-next-work {
    padding-left: percentage(math.div(3, 24));
    padding-right: percentage(math.div(1, 24));
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $white;
    @include fluidValue("padding-top", "s-64");
    @include fluidValue("padding-bottom", "s-64");

    @include mq(md) {
        flex-direction: column;
        padding-left: percentage(math.div(1, 24));
    }

    &__content {
        width: percentage(12*0.05);
        padding-right: percentage(1*0.05);

        @include mq(md) {
            width: 100%;
            padding-right: 0;
        }

        p {
            max-width: 420px;
        }
    }

    &__image {
        width: percentage(9*0.05);
        padding-left: percentage(1*0.05);

        @include mq(md) {
            width: 100%;
            padding-left: 0;
            @include fluidValue("margin-top", "s-56");
        }
    }
}
