/**
 * Calibre
 */
@include font-face('CalibreBold', 'Calibre-Bold');
@include font-face('CalibreRegular', 'Calibre-Regular');

/**
 * Font variables
 */
$calibre-regular: 'CalibreRegular', sans-serif;
$calibre-bold: 'CalibreBold', sans-serif;
$font-primary: $calibre-regular;
$font-secondary: $calibre-bold;

/**
 * Font size map
 */
$settings-typography: (
    'a2': (
        $breakpoint-sm: 90px,
        $breakpoint-xl: 90px,
    ),
    'a1': (
        $breakpoint-sm: 35px,
        $breakpoint-xl: 35px,
    ),
    'b0': (
        $breakpoint-sm: 15px,
        $breakpoint-xl: 15px,
    ),
    'b1': (
        $breakpoint-sm: 12px,
        $breakpoint-xl: 12px,
    ),
    'b2': (
        $breakpoint-sm: 11px,
        $breakpoint-xl: 11px,
    ),
    'b3': (
        $breakpoint-sm: 10px,
        $breakpoint-xl: 10px,
    ),
);
